<div>
  <label>Id:</label>
  <input type="number" [(ngModel)]="content.id" name="id" />
</div>
<div>
  <label>Title:</label>
  <input type="text" [(ngModel)]="content.title" name="title" />
</div>
<div>
  <label>Description:</label>
  <input type="text" [(ngModel)]="content.description" name="description" />
</div>
<div>
  <label>Url:</label>
  <input mat-input type="text" [(ngModel)]="content.url" name="url" />
</div>
<div>
  <label>Author:</label>
  <input mat-input type="text" [(ngModel)]="content.author" name="author" />
</div>
<button  mat-button (click)="updateMode ? updateContent() : addContent()">
  {{ updateMode ? 'Update Content' : 'Add Content' }}
</button>
