<div class="card" [ngClass]="{
  'green-text': content.type === 'Type 1',
  'red-text': content.type === 'Type 2',

}">
  <div class="content-card">
    <h3>{{ content.title }}</h3>
    <p>Creator: {{ content.creator}}</p>
    <a routerLink="/detail/{{ content.id }}">View Details</a>
  </div>

  <img (click)="onImageClick()" [src]="content.imgUrl">
  <p>{{content.description}}</p>
  <a routerLink="/detail/{{ content.id }}">View Details</a>
  <h5 class="card-title" Hover-Affect [isFirstCard]="isFirstCard" [isLastCard]="isLastCard">Type: {{content.type}}</h5>
  <p><b>Tags:</b>
    <span *ngFor="let tag of content.tags; let i = index;"
          Hover-Affect
          [isFirstCard]="i === 0"
          [isLastCard]="i === content.tags.length - 1">{{tag}}</span>
  </p>
</div>

